<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @volunteer.profile_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @volunteer.job_id %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
