<p id="notice"><%= notice %></p>



<div class="card-deck" >

  <div class="card-group">

    <div class="card card border-dark bg-light">
     <h5 class="card-title"></h5>
        <% if @profile.picture.attached? %>
          <%= image_tag @profile.picture, class:"profile-img" %>
        <% end %>
        
    <div class="card-body">
      
    </div>
    
  </div>
  <div class="card card border-dark">
  
    <div class="card-body">
      <h5 class="card-title"><%= @profile.user_name %></h5>
      <p>
      <strong>First name:</strong>
      <%= @profile.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @profile.last_name %>
      </p>


      <p>
      <strong>Representing organisation:</strong>
      <%= @profile.representing_organisation %>
      </p>

      <p>
        <strong>Github:</strong>
        <%= @profile.github %>
      </p>

      
<% if @profile.id == current_user.profile.id%>
<%= link_to 'Edit Profile', edit_profile_path(@profile), class:"btn btn-primary" %> 
<%= link_to 'Create Job', new_job_path, class:"btn btn-success" %>
<% end %>

    </div>
    
  </div>
 
</div>
</div>

    
  

  <div class="card card border-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">Bio</h5>
      <p><%= @profile.bio %></p>
    </div>
  </div>


  <div class="card card border-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">Current Jobs</h5>
      <%  @profile.jobs.all.each do |job| %>
        <% if job.complete == false %>
        <%= link_to job.title, job_path(job) %>
        <% end %>
        <% end %>
    </div>
  </div>

  <div class="card card border-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">Past Jobs</h5>
      <%  @profile.jobs.all.each do |job| %>
        <% if job.complete == true %>
        <%= link_to job.title, job_path(job) %>
        <% end %>
        <% end %>
    </div>
  </div>

</div>










