<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @job.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job.end_date %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @job.complete %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @job.creator.user_name %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @job.developer_id %>
</p>

<p>
  <strong>Github:</strong>
  <%= @job.github %>
</p>

<p>
  <strong>Discord:</strong>
  <%= @job.discord %>
</p>

<p>
  <strong>Trello:</strong>
  <%= @job.trello %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @job.profile_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
