<p id="notice"><%= notice %></p>

<div class="card border-dark mb-3" style="max-width: 40rem;">
  <div class="card-header card-title">
  <% if @job.complete %>
    Past Job
    <% else %>

    <%= link_to 'Volunteer', volunteers_path(volunteer: {profile_id: current_user.profile.id, job_id: @job.id}), method: :post, class:"btn btn-success me-auto" %> 
    <% end %>
  </div>
  <div class="card-body text-dark">
    <h5 class="card-title"><%= @job.title %></h5>

    <p>
      <strong>Creator:</strong>
      <%= link_to @job.creator.user_name, profile_path(id: @job.creator.id)  %>
    </p>

    <p>
      <strong>Start date:</strong>
      <%= @job.start_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @job.end_date %>
    </p>

    <p>
      <strong>Developers:</strong>
      <%  @job.profiles.all.each do |profile| %>
        <%= link_to profile.user_name, profile_path(id: profile)  %>
        <% end %>
        
    </p>

    <p>
      <strong>Github:</strong>
      <%= @job.github %>
    </p>

    <p>
      <strong>Discord:</strong>
      <%= @job.discord %>
    </p>

    <p>
      <strong>Trello:</strong>
      <%= @job.trello %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @job.description %>
    </p>
  </div>
</div>






<%= link_to 'Volunteer', volunteers_path(volunteer: {profile_id: current_user.profile.id, job_id: @job.id}), method: :post, class:"btn btn-success" %> 


<%= link_to 'Leave Job', volunteer_path(volunteer: {profile_id: current_user.profile.id, job_id: @job.id}), method: :delete, class:"btn btn-success" %> 


<%= link_to 'Edit Job', edit_job_path(@job), class:"btn btn-success" %> 

